<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- JDBC Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/stock_management?useSSL=false&amp;serverTimezone=EST</property>
        <property name="connection.username">root</property>
        <property name="connection.password">Kimi19791017!</property>

        <!-- JDBC connection pool settings ... using built-in test pool -->
        <property name="connection.pool_size">1</property>

        <!-- Select our SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Echo the SQL to stdout -->
        <property name="show_sql">true</property>

		<!-- Set the current session context -->
		<property name="current_session_context_class">thread</property>
		
		<!-- mappings for annotated classes -->
        <mapping class="com.rf.privjoy.myStock.impl.persistent.AssetsData"/>
        <mapping class="com.rf.privjoy.myStock.impl.persistent.Company"/>
        <mapping class="com.rf.privjoy.myStock.impl.persistent.Inventory"/>
        <mapping class="com.rf.privjoy.myStock.impl.persistent.Record"/>
        <mapping class="com.rf.privjoy.myStock.impl.persistent.RevenueData"/>
        <mapping class="com.rf.privjoy.myStock.impl.persistent.Role"/>
        <mapping class="com.rf.privjoy.myStock.impl.persistent.Sector"/>
        <mapping class="com.rf.privjoy.myStock.impl.persistent.Stock"/>
        <mapping class="com.rf.privjoy.myStock.impl.persistent.StockSpecification"/>
        <mapping class="com.rf.privjoy.myStock.impl.persistent.User"/>
 
    </session-factory>

</hibernate-configuration>